// $colors: (
//   background-color: #D8D9DD,
//   main-color: #826A50,
//   second-color: #9F8F7D,
//   accent-color: #8FB6D5,
//   shadow-color: #BEC6D0,
//   second-accent-color: #FFDF6B,
//   font-color: #ffffff,
//   font-second-color: #534333,
//   )

$colors: (
  background-color: #ece8e5,
  main-color: #826A50,
  second-color: #9c8673,
  accent-color: #8FB6D5,
  shadow-color: #BEC6D0,
  second-accent-color: #FFDF6B,
  font-color: #ffffff,
  font-second-color: #534333,
  )

  